@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Сброс всех базовых настроек */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color:#fff;
    --main-color: rgb(21, 200, 224);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 100px 10% 20px;
}

/* Стиль кнопки btn */
.btn{
    display: inline-block;
    padding: 10px 28px;
    background: var(--main-color);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--main-color);
    font-size: 16px;
    color: var(--second-bg-color);
    letter-spacing: 1px;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}
